h1{
    font-size: 43px;
    font-weight: 400;
    line-height: 1.2;
}
h2{
    font-size: 36px;
    font-weight: 400;
    line-height: 1.2;
}
h3{
    font-size: 34px;
    font-weight: 400;
    line-height: 1.2;
}
h4{
    font-size: 24px;
    font-weight: 400;
    line-height: 1.4;
}
h5{
    font-size: 19px;
    font-weight: 400;
    line-height: 1.4;
}
p{
    line-height: 27px;
}
.text1{
    font-size: 16px;
}
.text2{
    font-size: 15px;
    
}
.text3{
    font-size: 12px;
    
}